<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="site-header">
      <div class="logo-area">
        <img src="../logo.png" alt="Site logo" class="logo">
        <span class="brand-name">Lunch Money's Design System</span>
      </div>

      <nav class="main-nav">
        <ul>
          <li><a href="../Components/components.html">Components</a></li>
          <li><a href="../Brand Identity/brand-identity.html">Brand Identity</a></li>
          <li><a href="../Implementation/implementation.html">Implementation</a></li>
          <li><a href="../Accessibility/accessibility.html">Accessibility</a></li>
        </ul>
      </nav>

      <a href="../index.html" class="login-btn">Home</a>
    </header>
    
    <h1 class="page-title">Cards</h1>
<div class="two-column-grid">
     <div class="left-box">
        <div class="green-cards">
         <h3 class="info-card-title">Color Card</h3>
         <p class="info-card-description">Hover over me! I have a pop of color to grab attention and set myself apart from other cards. I personally don't link to anything, but you can program me to open links upon clicking.</p>   
          </div>
     </div>
     <div class="right-box">
        <h2> Color Card </h2>
     </div>
     <div class="left-box">
        <div class="gray-card">
            <h3 class="info-card-title">Gray Card</h3>
            <p class="info-card-description">Hover over me! I have a more neutral color palette, so I can fit in with a variety of different designs. I personally don't link to anything, but you can program me to open links upon clicking.</p>   
        </div>
     </div>
     <div class="right-box">
        <h2> Gray Card </h2>
     </div>
     <div class="left-box">Text</div>
     <div class="right-box">Text</div>
   </div>