<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="site-header">
      <div class="logo-area">
        <img src="../logo.png" alt="Site logo" class="logo">
        <span class="brand-name">Lunch Money's Design System</span>
      </div>

      <nav class="main-nav">
        <ul>
          <li><a href="../Components/components.html">Components</a></li>
          <li><a href="../Brand Identity/brand-identity.html">Brand Identity</a></li>
          <li><a href="../Implementation/implementation.html">Implementation</a></li>
          <li><a href="../Accessibility/accessibility.html">Accessibility</a></li>
        </ul>
      </nav>

      <a href="../index.html" class="login-btn">Home</a>
    </header>
    
    <h1 class="page-title">Components</h1>

<div class="home-page-card-grid">

    <a href="buttons.html" class="card-link green-cards">
        <h3 class="info-card-title">Buttons</h3>
        <p class="info-card-description">Buttons provide clear, consistent actions across the interface. This section outlines our primary, secondary, and tertiary button syles, and when to use each one.</p>
      </a>

      <a href="other.html" class="card-link teal-card">
        <h3 class="info-card-title">Other</h3>
        <p class="info-card-description">This category includes components that don’t fit neatly into the major groups but still play an important role in the system.</p>
      </a>

      <a href="cards.html" class="card-link green-cards">
        <h3 class="info-card-title">Cards</h3>
        <p class="info-card-description">Cards group related content into a structured, scannable block. This section covers card variations, spacing rules, and best practices for maintaining clarity and visual balance across different layouts.</p>
      </a>

      <a href="dropdowns.html" class="card-link pink-card">
        <h3 class="info-card-title">Drop-downs</h3>
        <p class="info-card-description">Drop‑downs allow users to choose from multiple options without overwhelming the interface. Here you’ll find usage guidelines, keyboard behavior expectations, and examples of both simple and advanced drop‑down patterns.</p>
      </a>

      <a href="code-directory.html" class="card-link pink-card-last">
        <h3 class="info-card-title">Code Directory</h3>
        <p class="info-card-description">The Code Directory contains the HTML and CSS behind every component in the system. Use this section to copy clean, semantic code, understand how components are built, and ensure your implementation matches the design specifications.</p>
      </a>

      </div>

    </body>